* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
}




a {
  color: #111;
}

a:hover {
  color: #f7a30a;
  text-decoration: none;
  transition: 0.5s ease-out;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

p {
  line-height: 26px;
}

.home {
  background-image: url('../assets/bg/showcase.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.service {
  background-image: url('../assets/service.png');
  background-repeat: no-repeat;
}

.contact {
  background-image: url('../assets/world-map.png');

  background-attachment: fixed;
}

#CarouselSlider {
  max-height: 100vh;
  overflow: hidden;
}
.carousel-caption {
  right: initial;
  top: 50%;
  bottom: initial;
  padding-bottom: 1.25rem;
  text-align: left;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.514);
  padding: 20px;
  border-radius: 10px;
}
.banner {
  background: linear-gradient(rgba(2, 29, 56, 0.84), rgba(2, 29, 56, 0.98)), url('../assets//header.jpg');
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-attachment: scroll, scroll;
  background-size: auto, auto;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.topTtile {
  background-image: url('../assets/bg/3.jpg');
}

.border-left {
  border-left: 2px solid #007bff !important;
}

.animation-Left {
  animation: slideInFromLeft 1.5s ease-in;
}

.animation-Right {
  animation: slideInFromRight 1.5s ease-in;
}

.animation-Top {
  animation: slideInFromTop 1.5s ease-in;
}

.animation-Buttom {
  animation: slideInFromBottom 1.5s ease-in;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.footer {
  background-image: url('../assets/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
