* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url('../assets/bg/showcase.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#CarouselSlider {
  max-height: 100vh;
  overflow: hidden;
}
.carousel-caption {
  right: initial;
  top: 35%;
  bottom: initial;
  padding-bottom: 1.25rem;
  text-align: left;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.514);
  padding: 20px;
  border-radius: 10px;
}
.banner {
  background-image: url('../assets/bg/2.png');
  background-size: cover;
}
.topTtile {
  background-image: url('../assets/bg/3.jpg');
}

.border-left {
  border-left: 2px solid #007bff !important;
}

.animation-Left {
  animation: slideInFromLeft 1.5s ease-in;
}

.animation-Right {
  animation: slideInFromRight 1.5s ease-in;
}

.animation-Top {
  animation: slideInFromTop 1.5s ease-in;
}

.animation-Buttom {
  animation: slideInFromBottom 1.5s ease-in;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}
